[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
figure = "python figure.py"
chapter = "bash -c \"MODE=production lualatex --shell-escape index\""
preview = "bash -c \"llmk -C && llmk\""
publish = "bash -c \"llmk -C && MODE=production llmk && mv main.pdf dist.pdf\""

[packages]
requests = "*"
numpy = "*"
matplotlib = "*"
pandas = "*"
scipy = "*"
scikit-learn = "*"
pywavelets = "*"
pygments = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
